* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

h1 {
    font-size: 85px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    color: #9747FF;
}

h1 span {
    color: #FFFFFF;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    text-align: center;
    width: 792px;
    margin: 40px auto 0; 
}

a { 
    color: #FFFFFF; 
    font-size: 24px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto 0; 
}

a:hover {
    background-color: #8233E8;
}

section img {
    display: block;
    /* height: 792px;  <-- REMOVA ESSA LINHA (está errada/duplicada) */
    height: 446px;
    margin: 20px auto 0; /* Mudei o 0 para 64px (o espaço que você quer em cima) */
}

@media(max-width: 768px){
    header img {
        margin: 60px 0 0 60px;
    }   

    p {
        width: 648px;
    }
}

@media(max-width: 375px){
    header img {
        margin: 32px 0 16px;
    }   

    h1 {
        font-size: 40px;
    }

    p {
        width: 340px;
        font-size: 20px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}